.text{
  padding: 5px 15px;
  .name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .about{
    font-style: italic;
    margin-bottom: 10px;
  }
  .job{
    .jobTrue{
      color: #28A745;
    }
    .jobFalse{
      color: brown;
    }
  }
}