.buttons{
  padding: 10px;
  .submit{
    color: #ffffff;
    background-color: #28A745;
    padding: 5px;
    margin-right: 5px;
  }
  .reset{
    color: white;
    background-color: brown;
    padding: 5px;
  }
}