@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.dialogs {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 10fr;
  grid-template-areas:
  'd m';

  .dialogsItems {
    grid-area: d;
    padding: 10px;
  }
}

.messages {
  position: relative;
  grid-area: m;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #a2ace7;
}


